<!DOCTYPE html>
    <head>
    <title>Visualizar</title>
    <style>
        .body
        {
        background-color: rgba(0, 63, 63, 0.986);
        color: rgba(239, 227, 227, 0.936);
        } 
        #tabela 
        {
        font-size: 30px;
        border-collapse: collapse;
        width: 100%; border: 1px solid black;
        }
        td 
        {
        border: 1px solid black;
        }
    </style>
    </head>
    <body class="body">
        <br><br><br>
        <form action="http://192.168.3.35:31000/inicial">
            <input type="submit" value="Voltar">
        </form>

        <table id="tabela">
            <tr><th>Nome </th><th>Senha </th><th>Categoria </th><th>Usuario </th>  <th>Vencimento </th></tr>

            <% for (var i=0; i<leitura.length-1; i++) { %>
                <tr>
                    <td> <%= leitura[i].nome_titulo %>           </td>
                    <td> <%= leitura[i].valor_titulo %>          </td>
                    <td> <%= leitura[i].categoria_titulo %>       </td>
                    <td> <%= leitura[i].emissao_titulo %>        </td>
                    <td> <%= leitura[i].vencimento_titulo %>     </td>
                </tr>
            <% } %>
        </table>

        <div id="impar">
            <form action="" target="_self" method="get">
                <label for="nome_titulo" id="escrita">Nome do Titulo a Editar: </label>
                <input type="text" id="fname" name="nome_titulo">
                <input type="submit" id="botão1" class="button" value="Editar">
                <button id="Editar" id="botão1" class="button" onclick="atualizar()">Atualizar</button>
            </form> 
        </div><br><br><br>
    </body>
</html>